@page "/makes/create/"

@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js


<h3 class="card-title">Create New Make</h3>
<hr />
<br />

<MakesFormComponent ButtonText="Create Make" OnValidSubmit="@CreateMake" make="make" />


@code
{
    Make make = new Make();


    private async Task CreateMake()
    {
        await _client.PostAsJsonAsync(Endpoints.MakesEndpoint, make);
        _navManager.NavigateTo("/makes/");
    }

}
