@page "/makes/edit/{id:int}"
@using CarRentalManagement.Client.Contracts

@inject NavigationManager _navManager


<h3>Edit Make</h3>

<MakesFormComponent ButtonText="Update" OnValidSubmit="@EditMake" make="make" /> 

@code {
    [Parameter] public int id { get; set; }
    Make make = new Make();

    [Inject] IHttpRepository<Make> _clientREPO { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (_clientREPO != null) make = await _clientREPO.Get(Endpoints.MakesEndpoint, id);
    }

    async Task EditMake()
    {
        await _clientREPO.Update(Endpoints.MakesEndpoint, make, id);
        _navManager.NavigateTo("/makes/");
    }
}
