@page "/colours/create/"

@inject IJSRuntime js


<h3 class="card-title">Create New Colour</h3>
<hr />
<br />

<ColoursFormComponent ButtonText="Create Colour" OnValidSubmit="@CreateColour" colour="colour" />


@code
{


}
