@page "/models/edit/{id:int}"
@using CarRentalManagement.Client.Contracts

@inject NavigationManager _navManager

<h3>Edit Model</h3>

<ModelsFormComponent ButtonText="Update Model" OnValidSubmit="@EditModel" model="model" />

@code {
    [Parameter] public int id { get; set; }
    Model model = new Model();

    [Inject] IHttpRepository<Model> _clientREPO { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (_clientREPO != null) model = await _clientREPO.Get(Endpoints.ModelsEndpoint, id);    
    }

    async Task EditModel()
    {
        await _clientREPO.Update(Endpoints.ModelsEndpoint, model, id);    
        _navManager.NavigateTo("/models/");
    }
}
