@page "/vehicles/edit/{id:int}"
@using CarRentalManagement.Client.Contracts




<h3>Edit Vehicle</h3>

<VehiclesFormComponent ButtonText="Update Vehicle" OnValidSubmit="@EditVehicle" vehicle="vehicle" />

@code {

}